/*CSS for sliderContainer*/

body {overflow-y: hidden;}
.imageSlider {margin: 100px auto 0 auto; width: 800px; height:600px; overflow: hidden; position: relative;}
.imageSlider .sliderBox {padding: 0; margin: 0;}

.imageSlider .sliderBox:after {clear: both; content: ' '; display: block;}
.imageSlider .sliderBox li {list-style: none; margin: 0; float: left;}
.imageSlider .sliderBox li,
.imageSlider .sliderBox li img {width: 800px; height: 600px;}

.imageSlider .controller {position: absolute; left: 0; bottom: 0; width: 100%;}
.imageSlider .controller span {vertical-align: middle; background-color: #125321; cursor: pointer; font-size: 50px; color: #fff;}
.imageSlider .controller span.left {float: left;}
.imageSlider .controller span.right {float: right;}
.imageSlider .controller span.right:after {clear: both; }